.*.swp
*.pdf
*.aux
*.log
*.bbl
*.blg
*.dvi
*.out
*-blx.bib
*.run.xml
*.bib.bak

vc.tex
*.4ct
*.4tc
*.css
*.docx
*.html
*.idv
*.lg
*.odt
*.sxw
*.tmp
*.xdv
*.xref
*.bcf
*.fdb_latexmk
*.fls
*.synctex.gz
